{% extends 'users/base.html' %}

{% load i18n crispy_forms_tags %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>{% trans 'Blog Name' %}</th>
    <th>{% trans 'Owner' %}</th>
    <th>{% trans 'Action' %}</th>
  </tr>
  {% for blog in authoring_blogs %}
    <tr>
      <td><a href="{% url 'blog_posts' blog.slug %}">{{ blog.title }}</a></td>
      <td><a href="{% url 'account_edit' %}">{{ blog.owner.username }}</a></td>
      <td>
        {% if blog.owner == request.user %}
          <a class="btn btn-info" href="{% url 'update_blog' blog.slug %}">
            {% trans 'Info' %}
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
<a href="{% url 'create_blog' %}" class="btn btn-primary">
  {% trans 'Add blog...' %}
</a>
{% endblock %}
